Click==7.0
Flask==1.0.2
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
MarkupSafe==1.1.0
numpy==1.15.4
opencv-python==3.4.4.19
protobuf==3.0.0b2
PyYAML==3.13
scikit-learn==0.20.1
scipy==1.2.0
six==1.12.0
sklearn==0.0
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.0-cp27-none-linux_x86_64.whl
Werkzeug==0.14.1
